In [3]:
import numpy as np
import pandas as pd

In [40]:
a = [1, 7, 2]
b = pd.Series(a, index = ["x", "y", "z"])

print(b)
pd.DataFrame(b)

x    1
y    7
z    2
dtype: int64

   0
x  1
y  7
z  2

In [41]:
print(b['x'])
print(b['y'])
print(b['z'])

1
7
2

In [42]:
calorias = {
    "dia1": 420, 
    "dia2": 380, 
    "dia3": 390
}

dados = pd.Series(calorias)

tabela = pd.DataFrame(dados)
tabela

        0
dia1  420
dia2  380
dia3  390

In [5]:
dados = {
  "calorias": [420, 380, 390],
  "duração": [50, 40, 45]
}

pd.DataFrame(dados)

   calorias  duração
0       420       50
1       380       40
2       390       45

In [8]:
df = pd.DataFrame(
    [ [200, 20500], [300, 35000], [250, 75800]],
    index=['cobra', 'viper', 'sidewinder'],
    columns=['velocidade_max', 'valor'],
)

df

            velocidade_max  valor
cobra                  200  20500
viper                  300  35000
sidewinder             250  75800