In [1]:
import pandas as pd

In [3]:
market = pd.read_json('market.json')

In [5]:
market.groupby("category").sum()

C:\Users\computer\AppData\Local\Temp\ipykernel_20288\214219817.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  market.groupby("category").sum()

                           id    price
category
alimentos             6143926   312.03
bebidas              16423314   352.85
beleza-e-perfumaria  26300952  2287.95